<div class="jumbotron surveys">
  <h3 class="form-title">Surveys</h3>
  <div class="list-group" >
    <ul ng-controller="SurveyController" class="list-unstyled">
      <li class="survey-list-item" ng-if="!rAuth.isAuthenticated()" ng-repeat="survey in surveys | orderBy: '+name'">
        <a href="#" ng-click="showConsentModal(survey)">{{survey.name}}</a>
      </li>
      <li class="survey-list-item" ng-if="rAuth.isAuthenticated()" ng-repeat="survey in surveys | orderBy: '+name'">
        <a ui-sref="user.survey({survey_id: survey.id, user_id: userId()})">{{survey.name}}</a>
      </li>
    </div>
  </div>
</div>
