<div class="jumbotron surveys">
  <h3 class="form-title">Surveys</h3>
  <div class="list-group" >
    <ul ng-controller="SurveyController">
      <span ng-if="!rAuth.isAuthenticated()">
      <li ng-repeat="survey in surveys">
        <a href="#" ng-click="showConsentModal(survey)">{{survey.name}}</a>
      </li>
      </span>
      <span ng-if="rAuth.isAuthenticated()">
        <li ng-repeat="survey in surveys">
          <a ui-sref="user.survey({survey_id: survey.id, user_id: userId()})">{{survey.name}}</a>
        </li>
      </span>
    </div>
  </div>
</div>
