<!DOCTYPE html>
<html ng-app='person-project'>
  <head>
    <meta charset="utf-8">
    <title>Person Project - PSNLab</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.min.css" media="screen" title="no title" charset="utf-8">
    <base href="/"></base>
  </head>
  <body>
    <nav class="navbar navbar-default" ng-controller="UsersController">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ng-href="/"><i class="fa fa-users"></i> person | project</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-right" ng-hide="rAuth.isAuthenticated()">
            <div class="form-group">
              <label class="sr-only" for="email">Username</label>
              <input type="text" class="form-control" id="email" ng-model="view.loginInfo.username" placeholder="Username">
            </div>
            <div class="form-group">
             <label class="sr-only" for="password">Password</label>
             <input type="password" class="form-control" id="password" ng-model="view.loginInfo.password" placeholder="Password">
           </div>
            <button type="submit" class="btn btn-primary" ng-click="signin()">Sign In</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li ng-hide="rAuth.isAuthenticated()"><a id="signuplink" ng-href="/signup"><i class="fa fa-user"></i> Signup</a></li>
            <li ng-show="rAuth.isAuthenticated()" ng-click="logout()"><a href="#"><i class="fa fa-user"></i> Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div ui-view></div>
    </div>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script type="text/javascript" src="/bower_components/api-check/dist/api-check.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-formly/dist/formly.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script type="text/javascript" src="/bower_components/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="/index.min.js"></script>
  </body>
</html>
