<!DOCTYPE html>
<html ng-app='person-project'>
  <head>
    <meta charset="utf-8">
    <title>Person Project - PSNLab</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.min.css" media="screen" title="no title" charset="utf-8">
    <base href="/"></base>
  </head>
  <body>
    <nav class="navbar navbar-inverse" ng-controller="UsersController">
      <div class="container-fluid">
        <div class="navbar-header">
          <a id ="logo" class="navbar-brand" ng-href="/"><i class="fa fa-users"></i> person | project</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{active: isActive()}"><a id="feat-experiments" ng-click="gotoElement('feat-experiments-section')">Experiments</a></li>
            <!-- <li><a id="all-experiments" ng-href="/#/surveys">All Experiments</a></li> -->
            <li><a id="about" ng-click="gotoElement('about-section')">About</a></li>
            <li><a id="contact" ng-click="gotoElement('contact-section')">Contact</a></li>
            <li ng-hide="rAuth.isAuthenticated()" ng-click="signin()"><a id="signin-link" ng-href="/signin" class="btn btn-default">Sign In</a></li>
            <li ng-show="rAuth.isAuthenticated()" ng-click="logout()"><a href="#">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="main-section">
      <div class="container">
        <div ui-view></div>
      </div>
    </div>
    <div id="facts-section">
      <div class="container">
        <div class="row">
          <div class="interesting-facts col-sm-10">
            <p class="facts">Vis in diam mucius, aliquid principes evertitur sed eu. Mea ut dicta ponderum mnesarchum, per ut sale partiendo. Ne eum prima nihil aliquip. Commodo virtute vel ex, ea tale legimus nam. Dicta senserit no eos. Te falli solet numquam vel, mel ad vidit facete. Ubique quodsi utamur ne has, per agam admodum complectitur ex, no sea harum omnium praesent. Eum id simul everti, dolorem efficiantur in vix. Sea ei mandamus postulant, ei vix erant placerat convenire.
            </p>
          </div>
          <div class="col-sm-2 text-center">
            <a id="register" class="btn btn-default" ng-href="/signup">Register Now</a>
          </div>
        </div>
      </div>
    </div>
    <div id="feat-experiments-section">
      <div class="container text-center">
        <h2 class="section-title">Our Experiments</h2>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <p class="contents">Vis in diam mucius, aliquid principes evertitur sed eu. Mea ut dicta ponderum mnesarchum, per ut sale partiendo. Ne eum prima nihil aliquip. Commodo virtute vel ex, ea tale legimus nam. Dicta senserit no eos. Te falli solet numquam vel, mel ad vidit facete. Ubique quodsi utamur ne has, per agam admodum complectitur ex, no sea harum omnium praesent. Eum id simul everti, dolorem efficiantur in vix. Sea ei mandamus postulant, ei vix erant placerat convenire.
            </p>
            <a id="signup-link" class="btn btn-default" ng-href="/signup">If you like to save your results, please sign up!</a>
          </div>
        </div>
        <div class="row">
          <div class="surveys col-sm-8 col-sm-offset-2" ng-controller="SurveysController">
            <div data-ng-repeat='survey in surveys | orderBy: "+position" '>
              <div class="survey-info" ng-controller="SurveyController">
                <div ng-if="survey.is_featured === true" class="experiment-box col-sm-3" ng-mouseenter="options=true" ng-mouseleave="options=false">
                  <span ng-if='!rAuth.isAuthenticated()'>
                  <h4><a class="survey-title" href='#' ng-click="showConsentModal(survey)">{{survey.name}}</a></h4>
                  </span>
                  <span ng-if='rAuth.isAuthenticated()'>
                    <h4><a class="survey-title" ui-sref="user.survey({survey_id: survey.id, user_id: userId()})">{{survey.name}}</a></h4>
                  </span>
                  <p class="survey-mins">
                    {{survey.est_completion_time_minutes}} minutes
                  </p>
                  <!-- <p class="survey-description" ng-show="options">
                    {{survey.description}}
                  </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="about-section">
      <div class="container text-center">
        <h2 class="section-title">About Person Project</h2>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <p class="contents">Vis in diam mucius, aliquid principes evertitur sed eu. Mea ut dicta ponderum mnesarchum, per ut sale partiendo. Ne eum prima nihil aliquip. Commodo virtute vel ex, ea tale legimus nam. Dicta senserit no eos. Te falli solet numquam vel, mel ad vidit facete. Ubique quodsi utamur ne has, per agam admodum complectitur ex, no sea harum omnium praesent. Eum id simul everti, dolorem efficiantur in vix. Sea ei mandamus postulant, ei vix erant placerat convenire.
            </p>
          </div>
        </div>
        <div class="row team">
          <div class="col-sm-10 col-sm-offset-1">
            <h4 class="our-team">Meet Our Team</h4>
            <p class="contents">Mea ut dicta ponderum mnesarchum, per ut sale partiendo. Ne eum prima nihil aliquip. Commodo virtute vel ex, ea tale legimus nam. Dicta senserit no eos. Te falli solet numquam vel, mel ad vidit facete. Ubique quodsi utamur ne has, per agam admodum complectitur ex, no sea harum omnium praesent. Eum id simul everti, dolorem efficiantur in vix. Sea ei mandamus postulant, ei vix erant placerat convenire.
            </p>
            <div class="row team-info">
              <div class="col-sm-3">
                <img src="images/Diana.jpg" alt="Diana's portrait">
                <p class="name">Diana Tamir</p>
                <p class="org-title">Director</p>
                <p class="bio">Diana studies how people think about their own minds and the minds of other people. She uses a combination of behavioral, machine learning, and neuroimaging methods. She received her Sc.B in cognitive neuroscience from Brown University, her Ph.D. in psychology from Harvard University, and postdoctoral training at Stanford University before starting as an Assistant Professor of Psychology at Princeton University in 2015.</p>
              </div>
              <div class="col-sm-3">
                <img src="images/headshot.jpg" alt="Diana's portrait">
                <p class="name">First Last</p>
                <p class="org-title">Assistant Director</p>
                <p class="bio">Diana studies how people think about their own minds and the minds of other people. She uses a combination of behavioral, machine learning, and neuroimaging methods. She received her Sc.B in cognitive neuroscience from Brown University, her Ph.D. in psychology from Harvard University, and postdoctoral training at Stanford University before starting as an Assistant Professor of Psychology at Princeton University in 2015.</p>
              </div>
              <div class="col-sm-3">
                <img src="images/adam.jpg" alt="Diana's portrait">
                <p class="name">First Last</p>
                <p class="org-title">Researcher</p>
                <p class="bio">Diana studies how people think about their own minds and the minds of other people. She uses a combination of behavioral, machine learning, and neuroimaging methods. She received her Sc.B in cognitive neuroscience from Brown University, her Ph.D. in psychology from Harvard University, and postdoctoral training at Stanford University before starting as an Assistant Professor of Psychology at Princeton University in 2015.</p>
              </div>
              <div class="col-sm-3">
                <img src="images/miriam.jpg" alt="Diana's portrait">
                <p class="name">First Last</p>
                <p class="org-title">Researcher</p>
                <p class="bio">Diana studies how people think about their own minds and the minds of other people. She uses a combination of behavioral, machine learning, and neuroimaging methods. She received her Sc.B in cognitive neuroscience from Brown University, her Ph.D. in psychology from Harvard University, and postdoctoral training at Stanford University before starting as an Assistant Professor of Psychology at Princeton University in 2015.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div id="contact-section">
      <div class="container text-center">
        <h2 class="section-title">Contact Us</h2>
      </div>
      <div class="row">
        <div class="address col-sm-4 col-sm-offset-2">
          <p>Princeton, NJ, 08554</p>
          <p>+1 609 258 3000</p>
        </div>
        <div class="col-sm-4">
          <p>experiments@personproject.com</p>
          <p>@PersonProject</p>
        </div>
      </div>
    </div>
    <footer>
      <div class="row">
        <p class="copyright col-sm-8 col-sm-offset-1">Copyright &copy; 2016 PersonProject.</p>
        <ul class="list-unstyled social-medias col-sm-2">
          <li><i class="fa fa-twitter-square"></i></li>
          <li><i class="fa fa-facebook-square"></i></li>
        </ul>
      </div>
    </footer>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script type="text/javascript" src="/bower_components/api-check/dist/api-check.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-formly/dist/formly.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script type="text/javascript" src="/bower_components/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="/index.min.js"></script>
  </body>
</html>
