<!DOCTYPE html>
<html ng-app='person-project'>
  <head>
    <meta charset="utf-8">
    <title>Person Project - PSNLab</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.min.css" media="screen" title="no title" charset="utf-8">
    <base href="/"></base>
  </head>
  <body>
    <nav class="navbar navbar-inverse" ng-controller="UsersController">
      <div class="container-fluid">
        <div class="navbar-header">
          <a id ="logo" class="navbar-brand" ng-href="/"><i class="fa fa-users"></i> person | project</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{active: isActive()}"><a id="feat-experiments" ng-click="goToElement('feat-experiments-section')">Experiments</a></li>
            <!-- <li ng-click="allSurveys()"><a id="all-experiments" ng-href="/surveys">All Experiments</a></li> -->
            <li><a id="about" ng-click="goToElement('about-section')">About</a></li>
            <li><a id="contact" ng-click="goToElement('contact-section')">Contact</a></li>
            <li ng-hide="rAuth.isAuthenticated()" ng-click="signin()"><a id="signin-link" ng-href="/signin" class="btn btn-default">Sign In</a></li>
            <li ng-show="rAuth.isAuthenticated()" ng-click="dashboard()"><a href="#">{{username}}</a></li>
            <li ng-show="rAuth.isAuthenticated()" ng-click="logout()"><a href="#">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div ui-view></div>
    <footer>
      <div class="row">
        <p class="copyright col-sm-8 col-sm-offset-1">Copyright &copy; 2016 PersonProject.</p>
        <ul class="list-unstyled social-medias col-sm-2">
          <li><i class="fa fa-twitter-square"></i></li>
          <li><i class="fa fa-facebook-square"></i></li>
        </ul>
      </div>
    </footer>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script type="text/javascript" src="/bower_components/api-check/dist/api-check.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-formly/dist/formly.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script type="text/javascript" src="/bower_components/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="/bower_components/node-uuid/uuid.js"></script>
    <script type="text/javascript" src="/index.min.js"></script>
  </body>
</html>
