<div class="user jumbotron">
  <h3>User Dashboard</h3>

<p>
  <a ui-sref="user.results">View Most Recent Survey</a>
</p>
<p>
  <a ui-sref="user.password">Change Password</a>
</p>

  <h3>List of Completed Surveys</h3>

  <table class='table-responsive table table-striped survey-table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Duration (seconds)</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="c in completions | orderBy: '-id'">
        <td><a ui-sref="user.results_detail({completion_id: c.id})">{{c.name}}</a></td>
        <td>{{c.value}}</td>
        <td>{{c.recorded_time}}</td>
        <td>{{c.created_at | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>
</div>
