<form ng-submit='submitSurvey()'>
  <div ng-repeat='item in surveyItems'>
    <span ng-if='item.depends_on && (answers[item.dependentIndex] === item.depends_on.value.toString()) || !item.depends_on'>
      <span ng-if="item.item_type === 'multiple_choice' && item.layout === 'multiple_choice'">
        <div class='well' ng-include="'/partials/survey_items/includes/multi_multi.html'"></div>
      </span>
      <span ng-if="item.item_type === 'multiple_choice' && item.layout === 'free_form'">
        <div class='well' ng-include="'/partials/survey_items/includes/multi_free_form.html'"></div>
      </span>
      <span ng-if="item.item_type === 'numeric_input' && item.layout === 'multiple_input'">
        <div ng-init='answers[$index]=[]' class='well' ng-include="'/partials/survey_items/includes/multi_input.html'"></div>
      </span>
      <span ng-if="item.item_type === 'multiple_choice' && item.layout === 'table'">
        <div ng-init='answers[$index]=[]' class='well' ng-include="'/partials/survey_items/includes/multi_table.html'"></div>
      </span>
      <span ng-if='item.item_type === "text_input"'>
        <div class='well' ng-include="'/partials/survey_items/includes/text_input.html'"></div>
      </span>
      <span ng-if="item.item_type === 'numeric_input' && item.layout !== 'multiple_input'">
        <div class='well' ng-include="'/partials/survey_items/includes/numeric_input.html'"></div>
      </span>
    </span>
  </div>
  <div>
    <p ng-show='submitted' class='empty'>You have unanswered questions
  </p>
    <input ng-show='submitted' class='btn btn-warning pull-right' type='submit' value='Submit Anyway'></input>
    <input ng-hide='submitted' class='btn btn-primary pull-right' type='submit'></input>
  </div>
</form>
