<h5 ng-if='item.title !== "n/a"' class='well'>{{item.title}}</h5>
<table class='table-responsive table table-striped'>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th ng-repeat='option in item.options'>{{option.text}}</th>
    </tr>
  </thead>
  <tbody ng-init ='subQuestions = shuffle(item.sub_questions)'>
      <tr ng-repeat='question in subQuestions'>
        <td ng-class='{empty:!answers[$parent.$index][$index] && submitted}' class='questionText'>
          {{question.text}}
        </td>
        <td ng-repeat='option in item.options'>
          <label>
            <input type='radio' ng-model='answers[$parent.$parent.$index][$parent.$index]' value="{{$index+1}}">
          </label>
        </td>
      </tr>
  </tbody>
</table>
