<table class='table-responsive table table-striped survey-table'>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th ng-repeat='field in fields | orderBy: "+position"'>{{field.text}}</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat='question in group.questions'>
        <td class='questionText'>
          {{question.data.text}}
        </td>
        <span>
        <td ng-repeat='field in question.fields | orderBy: "+position"'>
          <label class="label-block">
            <input type='radio' ng-model="answers[question.data.question_id]" value="{{field.value}}">
          </label>
        </td>
      </tr>
  </tbody>
</table>
