<table class='table-responsive table table-striped'>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th ng-repeat='option in surveyOptions'>{{option.text}}</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat='question in subQuestions'>
        <span ng-class='{empty:!answers[$index]}'>
        <td ng-class='{empty:!answers[$index] && submitted}' class='questionText'>
          {{question.text}}
        </td>
        <span>
        <td ng-repeat='option in surveyOptions'>
          <label>
          <input type='radio' ng-model='answers[$parent.$index]' value="{{$index+1}}">
          </label>
        </td>
      </tr>
  </tbody>
</table>
