extends layout

block content
  div.container
    h2 About PSNLab Surveys
    div.well
      div.panel
        div.well-left
          h4 Sed ex detraxit voluptatibus
          p Lorem ipsum dolor sit amet, vero praesent ei has, his ad illud vidisse. Per cu impetus tamquam sanctus, no clita definiebas vituperatoribus ius. Mea an quod mucius saperet, scripta eripuit usu ei, tota accusata definiebas at sea. Accusamus voluptaria pro cu, vide dicit mucius usu ea, ius ne epicuri argumentum. Vix eirmod gubergren comprehensam ne.
          p Vis in diam mucius, aliquid principes evertitur sed eu. Mea ut dicta ponderum mnesarchum, per ut sale partiendo. Ne eum prima nihil aliquip. Commodo virtute vel ex, ea tale legimus nam.
          p Dicta senserit no eos. Te falli solet numquam vel, mel ad vidit facete. Ubique quodsi utamur ne has, per agam admodum complectitur ex, no sea harum omnium praesent. Eum id simul everti, dolorem efficiantur in vix. Sea ei mandamus postulant, ei vix erant placerat convenire.
          p Case ocurreret pro ad, vix ea tale elitr gloriatur. Vel ut melius atomorum. Mea habeo adolescens ut. In unum habemus delicatissimi mea. Dolor option eloquentiam ex vim. Denique hendrerit deterruisset sea an, aperiri moderatius in quo.
        div.well-right
          h4 Et homero expetenda
          p Legere conclusionemque sed ei, vix nominati praesent recteque ei, mei nulla vivendo cu. Eam et apeirian explicari, sea ea dicam congue, mea doming timeam adipiscing ex. Usu te duis impedit. Ea vis altera luptatum concludaturque, sed et graecis deseruisse, tota epicurei pro in. Ea eos tibique erroribus contentiones
          h4 Case ocurreret pro ad, vix ea tale elitr gloriatur
          p Utinam vituperata ne ius. Eu rebum legimus vituperata nec, at illud sonet mel, an dolor debitis qualisque eos. Eligendi vituperata ius ea, hinc albucius id vis. Mei an prima admodum, has ei erroribus ullamcorper. Tantas intellegam et his.
          p Case ocurreret pro ad, vix ea tale elitr gloriatur. Vel ut melius atomorum. Mea habeo adolescens ut. In unum habemus delicatissimi mea. Dolor option eloquentiam ex vim. Denique hendrerit deterruisset sea an, aperiri moderatius in quo.
