doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    block content
    div.container
      nav.navbar.navbar-default.navbar-fixed-top
        div.container
        if !currentUser
          ol.breadcrumb.text-right
            li
              a(href="/") Home
            li.spacebar |
            li
              a(href="/users/signup") Signup
            li.spacebar |
            li
              a(href="/users/signin") Signin
            li.spacebar |
            li
              a(href="/auth/facebook") Login with Facebook
        else
          ol.breadcrumb.text-right
            li
              a(href="/") Home
            li.spacebar |
            li
              a(href="/users/logout") Logout
