body {
  background-image: url('/images/background.jpeg');
}
.errors {
  margin-bottom: 5px;
  display: inline-block;
  color: white;
}

.errors li {
  color: white;
}

.users {
  opacity: 0;
}
.jumbotron {
  opacity: .85;
  margin-top: 60px;
  background-color: #FFFFFF;
}

.jumbotron h1 {
  color: #337ab7;
}

.signup {
  opacity: 1;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 90px;
  -webkit-box-shadow: 4px 3px 15px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 3px 15px -1px rgba(0,0,0,0.75);
  box-shadow: 4px 3px 15px -1px rgba(0,0,0,0.75);
  background-color: #FF6600;
}


.navbar-default {
  opacity: .95;
  background-color: #FF6600;
}

.navbar {
  border: none;
  border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}
