@import "colors.scss";
@import "mixins.scss";

body {
  @include mainFont;
  background-color: $black;
}


/* NAV-BAR*/
/* ----------------------------------------------- */
#logo {
  color: $brightRed;
}

.navbar {
  position: fixed;
  top:0;
  left:0;
  z-index: 5;
  padding: 1% 0;
  border: none;
  width: 100%;
}

.navbar-inverse .navbar-nav  > li > a {
  color: $bone;
}

.navbar-nav a:hover {
  cursor: pointer;
}
.navbar.navbar-inverse {
  background-color: rgba($black, 0.3);
}

#signin-link {
  @include signinButton;
}

/* Main Splash Image Section */
/* ----------------------------------------------- */
#main-section {
  background: url(/images/bg.jpg) center top no-repeat;
  @include bgimg;
  height: 700px;
}

#title {
  font-size: 4em;
}

.cta {
  margin-top: 15%;
  color: $bone;

  .cta-message {
    font-size: 16px;
    line-height: 2;
  }
}

#learn-more {
  @include signinButton;
  font-size: 16px;
  border: 1px solid $black;
  color: $black;
  border-radius: 8;
  &:hover {
    background-color: rgba($black, 0.9);
  }
}

/* Facts Section */
/* ----------------------------------------------- */
#facts-section {
  padding: 3%;
}

.facts {
  font-size: 16px;
  color: $gray;
  line-height: 1.5;
}

#register {
  @include signinButton;
  font-size: 15px;
  border: 1px solid $bone;
  color: $bone;
  border-radius: 8;
  &:hover {
    background-color: $bone;
    color: $black;
  }
}

/* Experiments Section */
/* ----------------------------------------------- */
#feat-experiments-section,
#contact-section {
  background-color: $bone;
}

.section-title {
  margin-top: 2%;
}

.row {
  line-height: 1.5;
  margin: 2% 0;
}

#signup-link {
  @include signinButton;
  font-size: 15px;
  border: 1px solid $black;
  color: $black;
  border-radius: 8;
  &:hover {
    background-color: $black;
    color: $bone;
  }
}

.experiment-box {
  height: 182.5px;
  background-color: $brightRed;
  border: solid 4px $bone;
  border-radius: 10px;
  @include transition(background-color 0.3s);

  &:hover {
    cursor: pointer;
    background-color: $orange;
  }
  .survey-title,
  .survey-mins {
    color: $white;
    position: relative;
    top: 2em;
  }
}

/* About Section */
/* ----------------------------------------------- */
#about-section {
  color: $bone;
}

.name {
  font-size: 16px;
  color: $orange;
}

.org-title {
  font-style: italic;
}

.our-team {
  color: $orange;
}

.team {
  padding-bottom: 2%;
}

.team-info {
  text-align: left;

  img {
    width: 100%;
  }
}

/* Contact Section */
/* ----------------------------------------------- */
#contact-section {
  color: #333;

  .row {
    padding-bottom: 6%;
  }
}

.success {
  color: $green;
  font-size: 16px;
}

.address {
  text-align: right;
  font-size: 16px;
  border-right: 1px solid $brightRed;
}

/* Contact Section */
/* ----------------------------------------------- */

.social-medias li {
  font-size: 24px;
  display: inline-block;
  float: right;
  padding-left: 10px;
  @include transition(color 0.3s);

  &:hover {
    cursor: pointer;
    color: $brightRed;
  }
}
footer .row {
   margin: 0.2% 0;
   color: $bone;
}

/* Admin */
/* ----------------------------------------------- */
textarea.survey-edit {
  width: 90%;
  height: auto;
}