/* Font */
@mixin mainFont {
  font-family: "Open-Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Setting Background Image */
@mixin bgimg {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* Setting Transition */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  -ms-transition: $args;
  transition: $args;
}

/* Sign In Button */
@mixin signinButton {
  padding: 15px 30px;
  background:none;
  border: 1px solid $brightRed;
  border-radius: 4;
  text-shadow: none;
  box-shadow: none;
  color: $brightRed;
  @include transition(background-color 0.3s, color 0.3s);

  &:hover {
    background-color: $brightRed;
    color: $white;
  }
}
