@import "homepage.scss";

// SURVEYS

#survey-container {
  padding-top: 6em;
  padding-bottom: 2em;
}

.survey-info.list-group-item {
  border-radius: 0;
  background-color: $bone;
}

.survey-name {
  color: $brightRed;
  margin-bottom: 1.5em;
}

#survey-items .well {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.est-mins {
  color: $orange;
}

#survey-submit-btn {
  @include signinButton;
  font-size: 16px;
  border: 1px solid darken($brightRed, 10%);
  background-color: $brightRed;
  color: $bone;
  border-radius: 8;
  @include bgTransition;
  &:hover {
    background-color: darken($brightRed, 10%);
  }
}

// li {
//   list-style-type: none;
// }
//
// li a:hover {
//   color: #223333;
//   text-decoration: none;
// }
table.admin-table {
  width: auto;

  td {
    vertical-align: middle;
  }
}

.td-checkbox {
  padding: 0;
  text-align: center;

  label {
    display: block;
  }
}

.auto-width {
  width: auto;
}

table.survey-table {
  > thead > tr > th  {
    width: 100px;
  }

  > tbody > tr > td.questionText {
    text-align: left;
    padding: 10px;
  }

  > tbody > tr > td  {
    padding: 0px;
    text-align: center;
    vertical-align:middle;
  }

  tr {
    border: 1px solid lightgray;
  }

  th {
    text-align: center;
    border: 1px solid lightgray;
    background-color: lightgray;
  }

  td {
    padding: 0px;
    border: 1px solid lightgray;
  }
}

label.label-block {
  font-weight: normal;
  padding: 10px;
  display: block;
}

.well {
  overflow: hidden;
}

.form-control.surveys {
  margin-top: 10px;
  width: 30%;
}

.empty {
  color: #9F6000;
  background-color: #FEEFB3;
  opacity: 0.6;
}

p.empty {
  padding: 10px;
  overflow: hidden;
}

.jumbotron p {
  font-size: 16px;
}
.radio {
  margin-left: 5%;
}

.radio p {
  font-size: 5px;
}

.survey-info.list-group-item p {
  font-size: 16px;
}

.form-title {
  color: #223333;
}

.navbar-collapse {
  padding-left: 0px;
}

.errors {
  margin-bottom: 5px;
  display: inline-block;
  color: white;
}

.terms {
  text-align: justify;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.terms p {
  font-size: 16px;
}

.jumbotron {
  margin-top: 60px;
  background-color: #FFFFFF;
}

.jumbotron h1 {
  color: #337ab7;
}

.surveys.jumbotron, .users.jumbotron, .show-user.jumbotron  {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0px;
  padding-top: 15px;
  background-color: lightgray;
}

.user.jumbotron {
  background-color: white;
  opacity: 1;
  padding: 10px;
}

input.ng-invalid{
  border: 3px solid red;
}

.signup {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 90px;
  -webkit-box-shadow: 4px 3px 15px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 3px 15px -1px rgba(0,0,0,0.75);
  box-shadow: 4px 3px 15px -1px rgba(0,0,0,0.75);
  background-color: rgba(255, 102, 0, .95);
  padding: 2em;
}
