<div id="main-section">
  <div class="container">
    <div class="cta text-center">
      <h1 id="title" class="text-center"> person | project</h1>
      <p class="cta-message">Vis in diam mucius, aliquid principes evertitur sed eu. Mea ut dicta ponderum mnesarchum, per ut sale partiendo. Ne eum prima nihil aliquip. Commodo virtute vel ex, ea tale legimus nam.
      Dicta senserit no eos. Te falli solet numquam vel, mel ad vidit facete. Ubique quodsi utamur ne has, per agam admodum complectitur ex, no sea harum omnium praesent. Eum id simul everti, dolorem efficiantur in vix. Sea ei mandamus postulant, ei vix erant placerat convenire.</p>
      <button type="button" id="learn-more" ng-click="goToElement('feat-experiments-section')" class="btn btn-default">Learn more</button>
    </div>
  </div>
</div>
<div id="facts-section">
  <div class="container">
    <div class="row">
      <div class="interesting-facts col-sm-10">
        <p class="facts">Vis in diam mucius, aliquid principes evertitur sed eu. Mea ut dicta ponderum mnesarchum, per ut sale partiendo. Ne eum prima nihil aliquip. Commodo virtute vel ex, ea tale legimus nam. Dicta senserit no eos. Te falli solet numquam vel, mel ad vidit facete. Ubique quodsi utamur ne has, per agam admodum complectitur ex, no sea harum omnium praesent. Eum id simul everti, dolorem efficiantur in vix. Sea ei mandamus postulant, ei vix erant placerat convenire.
        </p>
      </div>
      <div class="col-sm-2 text-center">
        <a id="register" class="btn btn-default" ng-href="/signup">Register Now</a>
      </div>
    </div>
  </div>
</div>
<div id="feat-experiments-section">
  <div class="container text-center">
    <h2 class="section-title">Our Experiments</h2>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <p class="contents">Vis in diam mucius, aliquid principes evertitur sed eu. Mea ut dicta ponderum mnesarchum, per ut sale partiendo. Ne eum prima nihil aliquip. Commodo virtute vel ex, ea tale legimus nam. Dicta senserit no eos. Te falli solet numquam vel, mel ad vidit facete. Ubique quodsi utamur ne has, per agam admodum complectitur ex, no sea harum omnium praesent. Eum id simul everti, dolorem efficiantur in vix. Sea ei mandamus postulant, ei vix erant placerat convenire.
        </p>
        <a id="signup-link" ng-hide="rAuth.isAuthenticated()" class="btn btn-default" ng-href="/signup">If you like to save your results, please sign up!</a>
      </div>
    </div>
    <div class="row">
      <div class="surveys col-sm-8 col-sm-offset-2">
        <div data-ng-repeat="survey in surveys | orderBy: '+position'">
          <div class="survey-info" ng-controller="SurveyController">
            <div class="experiment-box col-sm-3" ng-mouseenter="options=true" ng-mouseleave="options=false">
              <span ng-if='!rAuth.isAuthenticated()'>
              <h4><a class="survey-title" href='#' ng-click="showConsentModal(survey)">{{survey.name}}</a></h4>
              </span>
              <span ng-if='rAuth.isAuthenticated()'>
                <h4><a class="survey-title" ui-sref="user.survey({survey_id: survey.id, user_id: userId()})">{{survey.name}}</a></h4>
              </span>
              <p class="survey-mins">
                {{survey.est_completion_time_minutes}} minutes
              </p>
              <!-- <p class="survey-description" ng-show="options">
                TODO: add description
                survey.description
              </p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="surveys col-sm-8 col-sm-offset-2">
        <a ui-sref="surveys">See all surveys</a>
      </div>
    </div>
  </div>
</div>
<div id="about-section">
  <div class="container text-center">
    <h2 class="section-title">About Person Project</h2>
    <div class="row team">
      <div class="col-sm-10 col-sm-offset-1">
        <p class="contents">Vis in diam mucius, aliquid principes evertitur sed eu. Mea ut dicta ponderum mnesarchum, per ut sale partiendo. Ne eum prima nihil aliquip. Commodo virtute vel ex, ea tale legimus nam. Dicta senserit no eos. Te falli solet numquam vel, mel ad vidit facete. Ubique quodsi utamur ne has, per agam admodum complectitur ex, no sea harum omnium praesent. Eum id simul everti, dolorem efficiantur in vix. Sea ei mandamus postulant, ei vix erant placerat convenire.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h4 class="our-team">Meet Our Team</h4>
        <p class="contents">Mea ut dicta ponderum mnesarchum, per ut sale partiendo. Ne eum prima nihil aliquip. Commodo virtute vel ex, ea tale legimus nam. Dicta senserit no eos. Te falli solet numquam vel, mel ad vidit facete. Ubique quodsi utamur ne has, per agam admodum complectitur ex, no sea harum omnium praesent. Eum id simul everti, dolorem efficiantur in vix. Sea ei mandamus postulant, ei vix erant placerat convenire.
        </p>
        <div class="row team-info">
          <div class="col-sm-3">
            <img src="images/Diana.jpg" alt="Diana's portrait">
            <p class="name">Diana Tamir</p>
            <p class="org-title">Director</p>
            <p class="bio">Diana studies how people think about their own minds and the minds of other people. She uses a combination of behavioral, machine learning, and neuroimaging methods. She received her Sc.B in cognitive neuroscience from Brown University, her Ph.D. in psychology from Harvard University, and postdoctoral training at Stanford University before starting as an Assistant Professor of Psychology at Princeton University in 2015.</p>
          </div>
          <div class="col-sm-3">
            <img src="images/headshot.jpg" alt="Diana's portrait">
            <p class="name">First Last</p>
            <p class="org-title">Assistant Director</p>
            <p class="bio">Diana studies how people think about their own minds and the minds of other people. She uses a combination of behavioral, machine learning, and neuroimaging methods. She received her Sc.B in cognitive neuroscience from Brown University, her Ph.D. in psychology from Harvard University, and postdoctoral training at Stanford University before starting as an Assistant Professor of Psychology at Princeton University in 2015.</p>
          </div>
          <div class="col-sm-3">
            <img src="images/adam.jpg" alt="Diana's portrait">
            <p class="name">First Last</p>
            <p class="org-title">Researcher</p>
            <p class="bio">Diana studies how people think about their own minds and the minds of other people. She uses a combination of behavioral, machine learning, and neuroimaging methods. She received her Sc.B in cognitive neuroscience from Brown University, her Ph.D. in psychology from Harvard University, and postdoctoral training at Stanford University before starting as an Assistant Professor of Psychology at Princeton University in 2015.</p>
          </div>
          <div class="col-sm-3">
            <img src="images/miriam.jpg" alt="Diana's portrait">
            <p class="name">First Last</p>
            <p class="org-title">Researcher</p>
            <p class="bio">Diana studies how people think about their own minds and the minds of other people. She uses a combination of behavioral, machine learning, and neuroimaging methods. She received her Sc.B in cognitive neuroscience from Brown University, her Ph.D. in psychology from Harvard University, and postdoctoral training at Stanford University before starting as an Assistant Professor of Psychology at Princeton University in 2015.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contact-section">
    <div class="container text-center">
      <h2 class="section-title">Contact Us</h2>
    </div>
    <div class="row">
      <div class="address col-sm-4 col-sm-offset-2">
        <p>Princeton, NJ, 08554</p>
        <p>1 609 258 3000</p>
      </div>
      <div class="col-sm-4">
        <p>experiments@personproject.com</p>
        <p>@PersonProject</p>
      </div>
    </div>
  </div>
</div>
