<div class="jumbotron signup">
  <div class="errors" ng-show="errors">
    {{ errors }}
  </div>
  <form ng-submit="signup()">
    <div class="form-group">
      <h3 class='form-title'>Create A User Account</h3>
      <label for="email">Username (email address not required) <a href="/#/terms">see terms</a></label>
      <input ng-model="newUser.username" type="text" class="form-control" id="email" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input ng-model="newUser.password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="password-confirmation">Password Confirmation</label>
      <input ng-model="newUser.password_confirmation" type="password" class="form-control" id="password-confirmation" placeholder="Password Confirmation">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
