
<div class="jumbotron user" ng-controller="AdminController">
  <div class="page-header">
    <h3>Researcher Dashboard</h3>
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a ui-sref="admin.select_surveys">CSV Download</a></li>
          <li><a ui-sref="admin.featured">Featured Experiments</a></li>
          <li><a ui-sref="admin.new">Create Admin</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div ui-view></div>
</div>
