<div class="success" ng-show="view.messages">
  {{ view.messages }}
</div>
<form ng-submit="saveSurveyOrder()">
  <table class="table admin-table table-bordered table-striped table-compact">
    <tr>
      <th>Survey</th>
      <th>Featured Survey</th>
      <th>Position</th>
    </tr>
    <tr ng-repeat="survey in view.surveys | orderBy:surveyOrder">
      <td>{{survey.name}}</td>
      <td><input type="checkbox" ng-model="survey.is_featured" ng-click="toggleFeaturedSurvey(survey)"></td>
      <td>{{survey.position}}
        <button ng-show="survey.is_featured" type="button" class="btn btn-default" aria-label="Left Align" ng-click="moveSurvey(survey, true)">
          <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        </button>
        <button ng-show="survey.is_featured" type="button" class="btn btn-default" aria-label="Left Align" ng-click="moveSurvey(survey, false)">
          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </table>

  <input type="submit" class="btn btn-primary" value="Save">
</form>
