<div ng-show="surveyForEdit">
  <form>
    <button type="button" class="close" aria-label="Close" ng-click="dismissEdit()">
      <span aria-hidden="true">&times;</span>
    </button>
    <textarea rows="24" class="survey-edit">
      {{surveyJSON}}
    </textarea>
    <div class="form-group">
      <button type="button" class="btn btn-default" ng-click="updateSurvey(survey)">Save</button>
    </div>
  </form>
</div>
<table class="table admin-table table-bordered table-striped table-compact">
  <tr>
    <th>Survey</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr ng-repeat="survey in surveys | orderBy: survey.name">
    <td>{{survey.name}}</td>
    <td><button type="button" class="btn btn-default" ng-click="showSurvey(survey)">Edit</button></td>
    <td><button type="button" class="btn btn-default" ng-click="deleteSurvey(survey)">Delete</button></td>
  </tr>
</table>
