<form ng-submit="createCSV()">
  <div ng-repeat="survey in view.surveys">
    <div>{{survey.name}}</div>
    <table class="table admin-table table-bordered table-striped table-compact">
      <tr>
        <th>Include</th>
        <th>Question</th>
      </tr>
      <tr ng-repeat="question in survey.questions">
        <td class="td-checkbox">
          <label>
            <input type="checkbox" ng-click="selectSurveyQuestion(survey.id, question.id)">
          </label>
        </td>
        <td>{{question.text}}</td>
      </tr>
    </table>
  </div>
  <p>
    <select name="include" ng-model="view.include" class="form-control auto-width">
      <option ng-repeat="opt in view.options track by $index" value="{{opt.value}}">{{opt.display}}</option>
    </select>
  </p>
  <p class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit">
  </p>
</form>
